@charset "utf-8";
.bg_menu_top{
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    text-decoration: none;
}
.memutop {
    color: #FF0000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 2px 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.Errormessage {
    color: #FF0000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding: 2px;
    text-decoration: none;
}
.memutop_over:link {
    color: #FF0000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
.banner_top {
    color: #FFFFFF;
    float: right;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8px;
    font-weight: bold;
    height: 70px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    width: 400px;
}
.menu_nav, .menu_nav:link {
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 28px;
    padding: 7px 8px 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
.menu_nav:hover, .current_menu {
    background-color: #005398;
    color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 28px;
    padding: 7px 8px 8px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
.menu_nav2 {
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 28px;
    padding: 7px 0 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
.menuchuxanh {
    color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 0 9px 25px;
    text-decoration: none;
}
.menubg {
    color: #0000FF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 16px;
    padding: 3px 5px;
    text-align: left;
    text-decoration: none;
}
.box {
    border: 1px solid #FFBB33;
    height: auto;
    padding-top: 0;
	text-decoration: none;
}
.chumenu {
    color: #FF0000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: auto;
    padding: 3px 5px;
    text-decoration: none;
}
.munulink:link, .munulink:visited {
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
	text-decoration: none;
}
.DN {
    background-color: transparent;
    background-image: url("../Content/Img/DN.png");
    border-left: 0 none;
    border-width: 0;
    height: 17px;
    width: 69px;
}
.Cart {
    background-color: transparent;
    background-image: url("../Content/Img/Cart.png");
    border-left: 0 none;
    border-width: 0;
    height: 46px;
    width: 159px;
}
.chu {
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.chusanpham {
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding: 2px;
    text-decoration: none;
}
.number:link, .number:visited {
    color: #0000FF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
	text-align:right;
    text-decoration: none;
}
.title, .title:link, .title:visited {
    color: #001166;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px;
    text-decoration: none;
}
.boxct {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    text-decoration: none;
}
.boxct1 {
    background-color: #FFFFFF;
    border: 1px solid #FFBB33;
    text-decoration: none;
}